<div class="display-6 text-center">
  <div class="col-8 m-auto">
    <form [formGroup]="formGroupAluno">
      <div class="mb-3">
        <div class="display-6 text-center">
          Alunos
        </div>
        <label for="name" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nome">
      </div>
      <div class="mb-3">
        <label for="matricula" class="form-label">Matricula:</label>
        <input type="matricula" class="form-control" id="matricula" formControlName="matricula" placeholder="matricula">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="Email" placeholder="Email">
        </div>
      </div>
      <div>
        <button class="btn btn-lg btn-dark" (click)="saveAlunos()">Salvar</button>
        <button class="btn btn-lg btn-dark" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
