<div class="display-6 text-center">
  <div class="col-8 m-auto">
    <form>
      <div class="mb-3">
        <div class="display-6 text-center">
          Professores
        </div>
        <label for="name" class="form-label">Nome:</label>
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nome">
      </div>
      <div class="mb-3">
        <label for="rg" class="form-label">RG:</label>
        <input type="rg" class="form-control" id="rg" formControlName="rg" placeholder="RG">
        <div class="mb-3">
          <label for="email" class="form-label">Email:</label>
          <input type="email" class="form-control" id="email" formControlName="Email" placeholder="Email">
        </div>
      </div>
      <div>
        <button class="btn btn-lg btn-dark">Salvar</button>
        <button class="btn btn-lg btn-dark">Cancelar</button>
      </div>
    </form>
  </div>
</div>
