<div class="text-center">
  <div class="mb-3">
    <button class="btn btn-lg btn-secondary">Novo</button>
  </div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">IdAluno</th>
        <th scope="col">Nome</th>
        <th scope="col">Matricula</th>
        <th scope="col">Email</th>
        <th cope="col"> </th>
        <th cope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{aluno.idAluno}}</th>
        <td>{{aluno.name}}</td>
        <td>{{aluno.matricula}}</td>
        <td>{{aluno.email}}</td>
        <td><button class="btn btn-light">Editar</button></td>
        <td><button class="btn btn-light">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="text-center">
  <div class="mb-3">
    <button class="btn btn-lg btn-secondary">Novo</button>
  </div>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">IdProfessor</th>
        <th scope="col">Nome</th>
        <th scope="col">RG</th>
        <th cope="col">Email</th>
        <th cope="col"> </th>
        <th cope="col"> </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{professores.idProfessor}}</th>
        <td>{{professores.name}}</td>
        <td>{{professores.rg}}</td>
        <td>{{professores.email}}</td>
        <td><button class="btn btn-light">Editar</button></td>
        <td><button class="btn btn-light">Excluir</button></td>
      </tr>
    </tbody>
  </table>
</div>
